<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="ja" xmlns:th="http://www.tyemeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
  <style type="text/css">
    .list th {
      background-color: #cccccc;
      padding: 5px;
    }
    .list td {
      padding: 5px;
    }
  </style>

<body>
<H2>出欠参照</H2>
	<input type="hidden" name="eventUrl" th:value="${answerRegistForm.eventUrl}">

		<p>イベント名:<span th:text= "${eventData.get('EVENT_NAME')}"></span></p>
		<p>イベントメモ:<span th:text= "${eventData.get('EVENT_MEMO')}"></span></p>

    <table border="2" class="list">
        <tr>
        	<th>日程</th>
        	<th>○</th>
        	<th>△</th>
        	<th>×</th>
        </tr>

        <tr th:each="answerAttendance : ${answerAttendance}">
	    	<td th:text="${answerAttendance.Key}"></td>
	    	<td th:text="${answerAttendance.Value.get('1')}"></td>
	        <td th:text="${answerAttendance.Value.get('2')}"></td>
	        <td th:text="${answerAttendance.Value.get('3')}"></td>
        </tr>
	</table>

    <table border="2" class="list">
        <tr>
        <th th:each="header:${header}" th:text="${header}"></th>
        </tr>

    </table>
</body>
</html>