<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="ja" xmlns:th="http://www.tyemeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<title>出欠回答画面</title>
	</head>
<body>
	<form action="#" th:action="@{/create}" th:object="${answerRegistForm}">
		<div class="container">
			<div class="row">
				<div class="bg-gradient-light text-dark">
					<H2><strong>出欠回答</strong></H2>
						<input type="hidden" name="eventId" th:value="${eventData.get('EVENT_ID')}">
						<input type="hidden" name="eventUrl" th:value="${eventData.get('EVENT_URL')}">
						<input type="hidden" name="eventName" th:value="${eventData.get('EVENT_NAME')}">
						<input type="hidden" name="eventMemo" th:value="${eventData.get('EVENT_MEMO')}">

						<p class="text-muted">イベント名:<span th:text= "${eventData.get('EVENT_NAME')}"></span></p>
						<p class="text-muted">イベントメモ:<span th:text= "${eventData.get('EVENT_MEMO')}"></span></p>

						<div class="col-12 bg-gradient-light">
							<p class="text-muted">氏名：<input type="text" th:field="*{answerName}"/></p>
						</div>

					<div th:each="eventDate, stat:${eventDate}">
						<span class="col-12 bg-gradient-light text-muted" th:text= "${eventDate.get('EVENT_DATE')}"></span>

            			<input type="radio"  th:field="*{answerAttendance[__${stat.index}__]}" th:value="0" checked="checked">○
            			<input type="radio"  th:field="*{answerAttendance[__${stat.index}__]}" th:value="1">△
            			<input type="radio"  th:field="*{answerAttendance[__${stat.index}__]}" th:value="2">×
      				</div><br>
				</div>
			</div>
						<p class="text-muted">コメント：<input type="text" th:field="*{comment}" /></p>

						<div class="col-4 bg-gradient-light">
							<input type="submit" class="btn btn-outline-dark" value="登録">
						</div>
		</div>
	</form>

	 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	 		 integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	 		 integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
     		 integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>