<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="ja" xmlns:th="http://www.tyemeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
		<title>出欠回答画面</title>

		<style>
		.jumbotron-extend {
		position: relative;
		height: 100vh;
		min-height: 300px;
		background-color: #E6FFE9;
		}

		.button-extend {
		padding-top: 10px
		}

		.paddin-gbottom {
		padding-bottom: 10px
		}
		</style>
	</head>

<body>
	<form action="#" th:action="@{/create}" th:object="${answerRegistForm}">
	<div class="jumbotron jumbotron-extend">
		<div class="container col-sm-8">
		    <div class="card bg-light  bg-gradient-light">
		        <div class="card-header text-white bg-success">
		        	<H2><strong>出欠回答</strong></H2>
				</div>

					<input type="hidden" name="eventId" th:value="${eventData.get('EVENT_ID')}">
					<input type="hidden" name="eventUrl" th:value="${eventData.get('EVENT_URL')}">
					<input type="hidden" name="eventName" th:value="${eventData.get('EVENT_NAME')}">
					<input type="hidden" name="eventMemo" th:value="${eventData.get('EVENT_MEMO')}">

				<div class="card-body text-dark  bg-gradient-light">
					<div class="row">
						<div class="col-sm-8">
							<h5><strong>イベント名：<span th:text= "${eventData.get('EVENT_NAME')}"></span></strong></h5>
							<h5><strong>イベントメモ：<span th:text= "${eventData.get('EVENT_MEMO')}"></span></strong></h5>
						</div>
					</div>

					<div class="button-extend">
					<div class="row">
						<div class="col-sm-8">
							<h5>氏名</h5>
							<input type="text" class="form-control" id="userName" th:field="*{answerName}" placeholder="氏名を入力してください"/>
						</div>
					</div>
					</div>
					<div class="button-extend">
					<div class="row">
						<div class="col-sm-6">
							<div th:each="eventDate, stat:${eventDate}">
								<h5>
								<span th:text= "${eventDate.get('EVENT_DATE')}"></span>

	            				<input type="radio"  th:field="*{answerAttendance[__${stat.index}__]}" th:value="0" checked="checked">○
    	    		   			<input type="radio"  th:field="*{answerAttendance[__${stat.index}__]}" th:value="1">△
        	    				<input type="radio"  th:field="*{answerAttendance[__${stat.index}__]}" th:value="2">✖

        	    				</h5>
      						</div><br>
      					</div>
					</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							<h5>コメント</h5>
							<input type="text" class="form-control"  id="comment" th:field="*{comment}" placeholder="コメントを入力してください"/>
						</div>
					</div>

					<div class="button-extend">
						<div class="row">
							<div class="col-sm-4">
								<button type="submit" class="btn btn-outline-dark"><i class="fas fa-pen"></i> 登録</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

	 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	 		 integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	 		 integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
     		 integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>