<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.tyemeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<title>イベント登録結果画面</title>
		<style>
		.jumbotron-extend {
		position: relative;
		height: 100vh;
		min-height: 300px;
		background-color: #E6FFE9;
		}
		</style>
	</head>

<body>
	<form th:object="${eventRegistForm}">
		<div class="jumbotron jumbotron-extend">
			<div class="container" >
				<div class="row">
				<div class="card mb-2 bg-light " style="width:800px;">
					<div class="bg-gradient-light text-dark">

					<div class="card-header text-white bg-success">
						<h2><strong>イベント登録 結果</strong></h2>
					</div>

					<div class="card-body text-dark">
					<div class="col-md-12 bg-gradient-light">
						<div class="form-group">
							<label>イベントURL</label>
							<input type="text" class="form-control"  name="eventUrl" th:value="${eventUrl}" />
						</div>
					</div>

					<div class="col-4 bg-gradient-light">
						<a href="/event/answerRegist" class="btn btn-outline-dark" th:href="@{/event/answerRegist(Url=${map.get('EVENT_URL')})}">出欠回答</a>
					</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</form>
</body>
</html>