<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.tyemeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">


		<title>イベント登録結果画面</title>
		<style>
		.jumbotron-extend {
		position: relative;
		height: 100vh;
		min-height: 300px;
		background-color: #E6FFE9;
		}

		.button-extend {
		padding-top: 10px
		}
		</style>
	</head>

<body>
	<form th:object="${eventRegistForm}">
		<div class="jumbotron jumbotron-extend">
			<div class="container col-sm-8">
				<div class="card bg-light  bg-gradient-light">
					<div class="card-header text-white bg-success">
						<h2><strong>イベント登録 結果</strong></h2>
					</div>

					<div class="card-body text-dark  bg-gradient-light">
						<div class="row">
							<div class="col-sm-8">
								<h3>イベントURL</h3>
								<input type="text" class="form-control"  name="eventUrl" th:value="${eventUrl}" />
							</div>
						</div>

					<div class="button-extend">
						<div class="row">
							<div class="col-sm-8">
								<a href="/event/answerRegist" class="btn btn-outline-dark" th:href="@{/event/answerRegist(Url=${map.get('EVENT_URL')})}"><i class="far fa-user"></i> 出欠回答</a>
							</div>
						</div>
					</div>
					</div>

				</div>
			</div>
		</div>
	</form>
</body>
</html>