<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="ja" xmlns:th="http://www.tyemeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<title>イベント登録画面</title>
	</head>
	<body>
		<form action="#" th:action="@{/event/create}" th:object="${eventRegistForm}" method="post">
			<div class="container">
				<div class="row">
					<div class="bg-gradient-light text-dark">
						<H2>イベント登録</H2>

						<p th:text="${eventNameError}" style="color: red" />
						<p th:text="${eventMemoError}" style="color: red" />
						<p th:text="${eventDateError}" style="color: red" />

					<div class="col-9 bg-gradient-light">
						<div class="form-group">
						<label>イベント名</label>
						<input type="text" class="form-control" th:field="*{eventName}" placeholder="イベント名" />
						</div>
					</div>

					<div class="form-group row">
						<div class="col-6 bg-gradient-light">
							<label>イベントメモ</label>
							<textarea type="text" th:field="*{eventMemo}" placeholder="イベントメモ" class="form-control"></textarea>
						</div>

						<div class="col-6 bg-gradient-light">
							<label>候補日</label>
							<textarea type="text" th:field="*{eventDate}" placeholder="候補日" class="form-control"></textarea>
						</div>
					</div>

					<div class="col-4 bg-gradient-light">
						<input type="submit" class="btn btn-outline-dark" value="登録">
					</div>
					</div>
				</div>
			</div>
		</form>

	 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	 		 integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	 		 integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
     		 integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>