<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.tyemeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>イベント登録画面</title>
</head>
<body>
	<form action="#" th:action="@{/event/create}" th:object="${eventRegistForm}" method="post">
		<p>イベント名: <input type="text" th:field="*{eventName}"/></p>
		<p>イベントメモ: <input type="text" th:field="*{eventMemo}"/></p>
		<p>候補日: <textarea th:field="*{eventDate}"/></textarea></p></br>
		<p><input type="submit" value="登録" /> <input type="reset" value="Reset"/></p>
	</form>
</body>
</html>